@using dive_deep.Models
@model IEnumerable<Product>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

@{
    ViewData["Title"] = "Produkter";
}
<div class="container">
    <div class="search-bar">
        <form method="get" asp-controller="Products" asp-action="Index" class="input-group">
            <input type="hidden" name="id" value="@Context.Request.Query["id"]" />
            <input type="text" name="searchTerm" class="form-control"
                   placeholder="Search..."
                   value="@Context.Request.Query["searchTerm"]" />
            <button type="submit" class="btn btn-outline-secondary">
                <i class="fas fa-search"></i>
            </button>
        </form>
    </div>
    <div>
        <h2 class="m-3 fw-bold">@ViewBag.CategoryType</h2>
    </div>
</div>

<div class="bg-light p-5 m-0">
    <div class="d-flex flex-wrap justify-content-center">
        @foreach (Product product in Model)
        {
            <div class="product-card bg-white rounded-3 shadow-sm h-100 position-relative m-2" style="width: 20rem;">
                <a asp-controller="products" asp-action="inspect" asp-route-id="@product.Id" class="overflow-hidden">
                    <img src="https://images.unsplash.com/photo-1669937401489-fb1ebb31d762?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w0NzEyNjZ8MHwxfHNlYXJjaHwxNXx8aGVhZHBob25lfGVufDB8MHx8fDE3MzA1NTUzNjl8MA&ixlib=rb-4.0.3&q=80&w=1080" class="product-image w-100" alt="Product">
                </a>
                <div class="p-4">
                    <h5 class="fw-bold mb-3">@product.Name</h5>
                    <div class="d-flex align-items-center mb-3">
                        <div class="me-2">
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star-half-alt text-warning"></i>
                        </div>
                        <small class="text-muted">(4.5/5)</small>
                    </div>
                    <p class="text-muted mb-4">
                        @product.CategoryType @product.Id
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="price">@product.PricePerDay.ToString() DKK pr. Dag</span>
                        <a class="btn btn-custom text-white px-4 py-2 rounded-pill" asp-controller="booking" asp-action="index" asp-route-id="@product.Id">
                            Køb
                        </a>
                    </div>
                </div>
            </div>
        }
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js"></script>
    </div>
</div>
